body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:0.1vmin solid black;
    height:98vmin;
    width:98vmin;
}
.box{
    float:left;
    height:9.170vmin;
    width:9.080vmin;
    border:0.1vmin solid black;
    text-align:center;
    line-height:9.601vmin;
    font-size:2.5vmin;
    background-color:lightgreen;
}
#side{
    position:absolute;
    
    top:1vmin;
    left:1vmin;
    

    border:0.2vmin solid black;
    height:25vmin;
    width:35vmin;
    background-color: lightgreen;
    text-align: center;
    font-size: 3.5vmin;
}

#cube_outer{
    height: 8vmin;
    width: 8vmin;
    perspective: 30vmin;
    margin: auto;
   
    
}
#cube_inner{
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.75s linear;
}
#cube_inner_div{
    height: 100%;
    width: 100%;
    
    position: absolute;
  
}
#front{
    transform: translateZ(4vmin);
  
}
#back{
    transform: rotateY(180deg) translateZ(4vmin);
   
}
#left{
    transform: rotateY(-90deg) translateZ(-4vmin);
    transform-origin:left ;
   
}
#right{
    transform: rotateY(90deg) translateZ(4vmin);
    transform-origin:right ;
   
}
#top{
    transform: rotateY(-90deg) translateZ(-4vmin);
    transform-origin:top;
   
}
#bottom{
    transform: rotateY(90deg) translateZ(4min);
    transform-origin:bottom ;
    
}
 img{
     height: 100.3%;
     width: 100.3%;
 }
 players{
    position:absolute;
    
    top:90.9vmin;
    left:3vmin;
    border-radius: 50%;
    opacity: 0.7;
    
    height:4vmin;
    width:4vmin;
    transition-duration: 0.4s;
    transition-property: margin;
    
   
 }
 .players:nth-child(1){background-color: red;}
 .players:nth-child(2){background-color: blue;}